body, html {
    height: 100%;
    width: 99.7%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 /*   background: lightcoral; */
    height: 7%;
    width: 100%;
    margin-top: 8px;
}

.header-links {
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
}

.header-links:hover {
    text-decoration: underline;
}

.profile-photo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.gmail-images-logo {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: chartreuse; */
}

.about-store {
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    background: white;
    height: 86%;
    align-items: center;
}

.google-logo {
    padding-top: 100px;
    width: 272px;
    height: 92px;
}

.search-logo {
    padding-top: 5px;
    padding-left: 5px;
    width: 16px;
    height: 16px;
}

.voice-logo {
    padding-top: 5px;
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

.search-bar-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: white;
    border-radius: 50px;
    width: 500px;
}

.search-bar-area:hover {
    box-shadow: 0.1px 1px 1px 1px rgba(0,0,0,0.19);
}

input {
    border-color: transparent;
    width: 95%;
}

input:focus {
    outline: none;
}

.search-bar-buttons {
    margin-top: 50px;
}

.sbb {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 10px 16px;
}

.sbb:hover {
    border: 1px solid #dadce0;
    background-color: #f8f9fa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

button {
    background-color: transparent;
    border-color: transparent;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  /*  background: lightpink; */
    align-self: flex-end;
    width: 100%;
    height: 7%;
}

.advertising-business-howsearchworks {
}

.privacy-terms-settings {
}

.footer-links {
    color: #70757A;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer-links:hover {
    text-decoration: underline;
}

.nine-cube-logo {
    /*background: black;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-content: space-between;
    width: 19px;
    height: 19px;
}

.ncl {
    background: rgb(104, 104, 104);
    width: 5px;
    height: 5px;
}

.nine-cube-logo:hover > .ncl {
    background: black;
}